[submodule "vendor/vendor"]
	path = vendor/vendor
	url = git@github.com:raysan5/raygui.git
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = git@github.com:raysan5/raygui.git
[submodule "vedor/raygui"]
	path = vedor/raygui
	url = git@github.com:raysan5/raygui.git
